.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 75%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 18%
    right: 15%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)


.dimesion
   @media (max-width: 500px)
    width: 2%
    margin-left: 25%


.recuadrocolor
  background:  #FC4B52


.bgr-tarjeta-3
    background: #FFF7E0

.bgr-tarjeta-4
    background: #FECA2E

.bgr-slider
    background: #EDF8F9

.lista-ul__vineta
    color: #FC4B52
    

.slyder-a__btn--sigt
  background-color : #feca2e

.slyder-a__btn--atrs
  background-color : #feca2e

.acordion__accion__btn--a 
    background-color: #A7E446

.fa-check:before
  color: #FC4B52

.bloque-texto-b i
  color : #FC4B52
  

.bloque-texto-b:before
    background-color: #D2F1A0
    top: 69%
    bottom: 4px
    left: 29%
    right: 25px

.texto-img
  
  position: relative
  display: inline-block
  text-align: center

.bloque-texto-b.color-acento-contenido:before 
    background-color: #E9F8D0


.lista-ol--cuadro__vineta 
    background-color: #FC4B52;

.cambiante
  color: yellow


.color-tarjetacliente
  background-color:#FEE3E4 

.tabs-a__tab
  background-color: #E8E8E8

.titulo-sexto.color-acento-contenido
  border-left-color: #FF6B00

.lista-ul__vineta 
  width: '-5'
  height: '-5'
.titulo-sexto.color-acento-contenido-mercado
  border-left-color: #A7E446

.tarjetabgr-tarjeta-3-mercados
  background: #FFF7E0

.textoacordion
  margin-left: 34%

.imgmercadoobjetivo
  width: 505px
  height: 338px

.bloque-texto-g__texto2
  right: 500px    
  background-color: rgba(244, 240, 236, 0.5)
  position: sticky
  width: 60%
  //text-align: center

@media (max-width: 500px)
  .bloque-texto-g__texto2
    width: 100%

.bloque-texto-g__texto
  background-color: rgba(244, 240, 236, 0.5)

.bloque-texto-g__img.carimg
  left: 510px
  
@media (max-width: 500px)
  
  .bloque-texto-g__img.carimg 
    left: 0px

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)


.dimesion
   @media (max-width: 500px)
    width: 2%
    margin-left: 25%


.recuadrocolor
  color: #707070


.bgr-tarjeta-3
    background: #FECA2E

.bgr-slider
    background: #EDF8F9


.fas.fa-circle

    width: '-5'
    height: '-5'



.acordion__accion__btn--a
   background-color: #A7E446
    

.lista-ol--cuadro__vineta
    background-color: #FC4B52
    min-width: 20px
    height: 20px

.tarjeta--amarilla
    background-color: #fff7e0


.tarjeta--azul2
    background-color: #EDF8F9


.color-cajon:before
  background-color: #e9f8d0
  top: 70%
  left: 50%
  bottom: 10%

.bgr-tarjeta1
  background-color: #FC4B52 !important

.bloque-texto-b i 
    font-size: 2.5em
    color: #FC4B52

.bgr-titulo
  border-left-color: #A7E446 
  
.fa-quote-right:before
    position: absolute
    left: 90%






    



 
    
    







  